#contenedor{
    background-color: RGB(252,225,61);
    width: 80%;
}
#contenedor2{
    text-align: center;
    padding: 5%;
}
#lorem{
    font-size: 2.5em;
    padding: 0%;
    margin: 0%;
}
#restaurant{
    font-size: medium;
    padding: 0%;
    margin: 0%;
}